@media only screen
  and (device-width: 414px) /* iPhone 11 portrait */
  and (device-height: 896px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
  /* CSS rules for iPhone 11 portrait */
  /* Place your styles here */
  .button {
    width: 50%; /* Make each button take 50% of the width */
    float: left; /* Float the buttons to create a 2x2 grid */
  }
}







body {
  background-image: linear-gradient(to right, #60b2e5, rgb(188, 255, 192));
  text-align: center;

  box-sizing: border-box;
  margin: 0;

}

button{
  background-color: rgb(96, 178, 229, 0.4);
  border: solid black 1px;
  cursor:pointer;
  
}

img {
  opacity: transparent;
}

#melody{

  margin-top: 50px;
  margin-bottom: 250px;
}



button:hover{
  background-color: #3f8ab9;
}

h1 {
  color:white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}